!!!
%html
  %head
    %title= "Admin: "+h(yield(:title))
    = stylesheet_link_tag 'application'
    = yield(:head)
  %body
    #container
      #authenticate
        - if current_admin
          = "Sign in as #{current_admin.email}"
          |
          = link_to "Sign Out", admin_sign_out_url, :confirm => "Are you sure?", :method => :delete
        - else
          = link_to "Sign In", admin_sign_in_url
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      - if show_title?
        =h yield(:title)
      = yield
